@import 'tailwindcss';
@plugin 'daisyui' {
  themes: business --default;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility table-pin-cols {
  @apply table;
}
@utility table-pin-rows {
  @apply table;
}

@utility wrap-line-column {
  --webkit-line-clamp: 2;
  display: -webkit-box;
  line-clamp: var(--webkit-line-clamp);
  -webkit-line-clamp: var(--webkit-line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 40ch;
}

@utility drawer-right {
  div.drawer-side {
    button {
      translate: 100%;
    }
  }

  .drawer-toggle {
    &:checked {
      & ~ .drawer-side {
        & > *:not(.drawer-overlay) {
          translate: 0%;
        }
      }
    }
  }
}

@utility modal-content-container {
  @apply flex flex-col items-start w-full min-h-full h-fit overflow-y-scroll;
}

@utility textarea-input {
  @apply textarea input block resize;
}

html {
  height: 100%;
  scrollbar-gutter: auto;
}

.divider::before, .divider::after {
  @apply bg-slate-500;
}

.toastify {
  @apply z-100;
}
